.first-about-sub-header h2 {
  margin-top: 0;
}

.about-content .module-info {
  display: inline-block;
}

.about-content img {
  float: right;
  width: 200px;
}

.about-svg >>> svg {
  width: 800px;
  float: right;
}
