.content-sub-header h2 {
  /* color: white; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-weight: 500; */
}

.content-sub-header h2:hover {
  /* font-weight: bolder;
  color: lightblue;
  transition: all .6s 0s ease-in; */
}

.content-sub-div {
  /* font-weight: lighter; */
  /* color: lightgrey; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.author-pic-div {
  float: left;
  padding-right: 10px;
}

.author-pic-div img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 8px lightslategray;
  transition: box-shadow .6s ease-in;
}

.author-brief-info {
  min-height: 110px;
}

.author-pic-div img:hover {
  box-shadow: 0 0 50px lightgray;
  transition: box-shadow .6s ease-in;
}

.github_link, .csdn_link {
  color: white;
}

.github_link:hover {
  color: darkgray;
}

.github_link:visited {
  color: lightgray;
}

.amap-page-container {
  height: 200px;
}

#amapDemo {
  border-radius: 4px;
}

div.resources:last-child {
  margin-bottom: 50px;
}
