.content-sub-header h2 {
  /* color: white; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-weight: 500; */
}

.content-sub-header h2:hover {
  /* font-weight: bolder;
  color: lightblue;
  transition: all .6s 0s ease-in; */
}

.content-sub-div {
  /* font-weight: lighter; */
  /* color: lightgrey; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.author-pic-div {
  float: left;
  padding-right: 10px;
}

.author-pic-div img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 8px lightslategray;
  transition: box-shadow 0.6s ease-in;
}

.author-brief-info {
  min-height: 110px;
}

.author-pic-div img:hover {
  box-shadow: 0 0 50px lightgray;
  transition: box-shadow 0.6s ease-in;
}

.github_link,
.csdn_link {
  color: white;
}

.github_link:hover {
  color: darkgray;
}

.github_link:visited {
  color: lightgray;
}

.amap-page-container {
  height: 200px;
}

#amapDemo {
  border-radius: 4px;
}

div.resources:last-child {
  margin-bottom: 50px;
}

/* Reset Styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: var(--color1);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
  text-transform: none;
  color: #4a90e2;
}
.tlinks {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
body {
  line-height: 1;
  font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  /* background-color: #FEFEFE; */
  color: var(--color1);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  /* color: #15171a; */
  font-size: 17;
  line-height: 31px;
}

strong {
  font-weight: 600;
}

div,
footer {
  box-sizing: border-box;
}

/* Reset ends */

/*Hero section*/

.container {
  max-width: 1100px;
  height: auto;
  margin: 60px auto;
}

.amap-container {
  margin-top: 150px;

  & > .line {
    font-size: 20px;
    font-weight: 600;
    /* color: #04143A; */
    color: var(--color1);
    background: var(--color4);
  }
}

.hero {
  margin: 50px auto;
  position: relative;
}

h1.name {
  font-size: 70px;
  font-weight: 300;
  display: inline-block;
}

.job-title {
  vertical-align: top;
  /* background-color: #D9E7F8; */
  color: #4a90e2;
  background-color: var(--color3);
  font-weight: 600;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;
  padding: 15px 25px;
}

.email {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #81899c;
  margin-top: 10px;
}

.lead {
  font-size: 44px;
  font-weight: 300;
  margin-top: 60px;
  line-height: 55px;
}

/*hero ends*/

/*skills & intrests*/

.sections {
  vertical-align: top;
  display: inline-block;
  width: 49.7%;
  height: 50px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.list-card {
  margin: 30px 0;
}

.list-card .exp,
.list-card div {
  display: inline-block;
  vertical-align: top;
}

.list-card .exp {
  margin-right: 15px;
  color: #4a90e2;
  font-weight: 600;
  width: 100px;
}

.list-card div {
  width: 70%;
}

.list-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #5b6a9a;
  line-height: 26px;
  margin-bottom: 8px;
}

.list-card div span {
  font-size: 16px;
  color: #81899c;
  line-height: 22px;
}

/*skill and intrests ends*/

/* Achievements */

.cards {
  max-width: 1120px;
  display: block;
  margin-top: 280px;
}

.card {
  width: 47.9%;
  height: 200px;
  background-color: var(--color3);
  display: inline-block;
  margin: 7px 5px;
  vertical-align: top;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
}

.card-active,
.card:hover {
  transform: scale(1.02);
  transition: 0.5s;
  background-color: var(--color2);
  box-shadow: 0px 5px 50px -8px #ddd;
  cursor: pointer;
}

.skill-level {
  display: inline-block;
  max-width: 160px;
}

.skill-level span {
  font-size: 35px;
  font-weight: 300;
  color: #5b6a9a;
  vertical-align: top;
}

.skill-level h2 {
  font-size: 95px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  color: #5b6a9a;
  letter-spacing: -5px;
}

.skill-meta {
  vertical-align: top;
  display: inline-block;
  max-width: 300px;
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
}

.skill-meta h3 {
  font-size: 20px;
  font-weight: 800;
  color: #5b6a9a;
  margin-bottom: 5px;
}

.skill-meta span {
  color: #81899c;
  line-height: 20px;
  font-size: 16px;
}

/* Achievements ends */

/* Timeline styles*/

ol {
  position: relative;
  display: block;
  margin: 100px 0;
  height: 2px;
  background-color: var(--color3);
}
ol::before,
ol::after {
  content: '';
  position: absolute;
  top: -10px;
  display: block;
  width: 0;
  height: 0;
  border-radius: 10px;
  border: 0px solid #31708f;
}
ol::before {
  left: -5px;
}
ol::after {
  right: -10px;
  border: 0px solid transparent;
  border-right: 0;
  border-left: 20px solid #31708f;
  border-radius: 3px;
}

/* ---- Timeline elements ---- */
li {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  height: 50px;
}
li .line {
  position: absolute;
  top: -47px;
  left: 1%;
  font-size: 20px;
  font-weight: 600;
  color: var(--color1);
}
li .point {
  content: '';
  top: -7px;
  left: 0%;
  display: block;
  width: 8px;
  height: 8px;
  border: 4px solid #fff;
  border-radius: 10px;
  background: #4a90e2;
  position: absolute;
}
li .description {
  display: none;
  padding: 10px 0;
  margin-top: 20px;
  position: relative;
  font-weight: normal;
  z-index: 1;
  max-width: 95%;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #5b6a9a;
}
.description::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f4f4f4;
  position: absolute;
  top: -5px;
  left: 43%;
}

li .sub {
  font-weight: lighter;
  font-size: 16px;
}

.timeline .date {
  font-size: 14px;
  color: #81899c;
  font-weight: 300;
}

/* ---- Hover effects ---- */
li:hover {
  color: #48a4d2;
}
li .description {
  display: block;
}

li.long-list-item {
  width: 40%;
}

/*timeline ends*/

/* Media queries*/

@media (max-width: 1024px) {
  .container {
    padding: 15px;
    margin: 0px auto;
  }
  .cards {
    margin-top: 250px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin: 0px auto;
  }
  .cards {
    margin-top: 320px;
  }

  .card {
    padding: 15px;
    text-align: left;
  }
  .card h2 {
    font-size: 70px;
  }
  .card,
  .sections {
    width: 100%;
    height: auto;
    margin: 10px 0;
    float: left;
  }

  .timeline {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  .timeline li {
    margin-top: 70px;
    height: 150px;
  }
}

@media (max-width: 425px) {
  h1.name {
    font-size: 40px;
  }

  .card,
  .sections {
    width: 100%;
    height: auto;
    margin: 10px 0;
    float: left;
  }

  .timeline {
    display: none;
  }

  .job-title {
    position: absolute;
    background-color: var(--color3);
    font-size: 15px;
    top: -40px;
    right: 20px;
    padding: 10px;
  }

  .lead {
    margin-top: 15px;
    font-size: 20px;
    line-height: 28px;
  }
  .container {
    margin: 0px;
    padding: 0 15px;
  }
  footer {
    margin-top: 2050px;
  }
}
