/* @import 'palette.css'; */

.main-left-aside {
  background-color: var(--color1);
}

.main-top-header {
  /* background-color: var(--color1); */
  text-align: left;
  color: var(--color3);

  &>>>.header-img {
    /* width: 100px; */
    height: 60px;
  }

  &>.top-header-item {
    display: inline-block;
    margin-right: 25px;
  }
}

.sit-icon {
  padding: 5px 0 5px 20px;
  display: flex;
  align-items: center;
}

.sit-icon i {
  flex: 1;
}

.sit-icon .lang-switch-div {
  flex: 1;
  padding-left: 50px;
  & >>> .el-input {
    width: 120px;
  }
}

.main-header {
  text-align: center;
  /* background-color: #fff; */
  color: var(--color1);
}

.main-container {
  /* font-family: Arial, Helvetica, sans-serif; */
}

.main-content {
  padding: 0 16px;
}

.main-right-container {
  /* width: 1500px; */
  /* padding: 0 20px; */
  min-height: 800px;
  margin-top: 30px;
}

.head-icon {
  display: inline-block;
}

.main-right-container {
  /* background-color: #000; */
  /* background: var(--color5); */
}

.menu-header-logo >>> svg {
  width: 100px;
  height: 70px;
  padding: 5px 0;
}

.fade {
  opacity: 0
}

.fade-active {
  transition: opacity 0.3s ease-in;
  opacity: 0.9;
}

.main-div {
  opacity: 0.9;
}

* ::before ::after {
  box-sizing: inherit;
}
