.main-left-aside {
  background-color: #aaa;
}

.sit-icon {
  padding: 5px 0 5px 20px;
  display: flex;
  align-items: center;
}

.sit-icon i {
  font-size: 16px;
  flex: 1;
}

.sit-icon .lang-switch-div {
  flex: 1;
  padding-left: 50px;
  & >>> .el-input {
    width: 120px;
  }
}

.main-header {
  text-align: center;
  background-color: #fff;
}

.main-container {
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  padding: 0 16px;
}

.main-right-container {
  width: 1500px;
  padding: 0 20px;
  min-height: 1000px;
}

.head-icon {
  display: inline-block;
  font-size:30px;
}

.main-right-container {
  background-color: #000;
}

.menu-header-logo >>> svg {
  width: 100px;
  height: 70px;
  padding: 5px 0;
}

.fade {
  opacity: 0
}

.fade-active {
  transition: opacity 0.3s ease-in;
  opacity: 0.9;
}

.main-div {
  opacity: 0.9;
}

* ::before ::after {
  box-sizing: inherit;
}
