body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.content-sub-header {
  color: var(--color6);
}

.content-sub-header > h2 {
  font-size: 20px;
}

.content-sub-div {
  color: var(--color1);
}

ul.menu-item-popover {
  min-width: 200px;
  background-color: var(--color3);
  border: none;
}

ul.menu-item-popover >>> .el-dropdown-menu__item:hover {
  background-color: var(--color2);
}

ul.menu-item-popover >>> div.popper__arrow {
  color: var(--color3);
  background-color: var(--color3);
}
