/* @import './palette.css'; */

body {
  /* font-size: 18px; */
  /* min-width: 1800px; */
  font-size: 14px;
  /* background: var(--color1); */
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.content-sub-header {
  color: var(--color4, rgba(68, 189, 255, 1));

  &>h2 {
    font-size: 20px;
  }
}

.content-sub-div {
  color: var(--color1, rgba(6, 9, 51, 1));
}
