@font-face {
	font-family: Rubik;
	font-weight: 300;
	src: url('../static/fonts/Rubik-Light.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: 300;
	font-style: italic;
	src: url('../static/fonts/Rubik-LightItalic.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: normal;
	src: url('../static/fonts/Rubik-Regular.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: normal;
	font-style: italic;
	src: url('../static/fonts/Rubik-Italic.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: 500;
	src: url('../static/fonts/Rubik-Medium.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: 500;
	font-style: italic;
	src: url('../static/fonts/Rubik-MediumItalic.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: bold;
	src: url('../static/fonts/Rubik-Bold.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: bold;
	font-style: italic;
	src: url('../static/fonts/Rubik-BoldItalic.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: 700;
	src: url('../static/fonts/Rubik-Black.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: 700;
	font-style: italic;
	src: url('../static/fonts/Rubik-BlackItalic.ttf');
}

