/* @font-face {
	font-family: Rubik;
	font-weight: 300;
	src: url('../static/fonts/Rubik-Light.ttf') format('truetype');
} */

/* @font-face {
	font-family: Rubik;
	font-weight: 300;
	font-style: italic;
	src: url('../static/fonts/Rubik-LightItalic.ttf') format('truetype');
} */

@font-face {
	font-family: Rubik;
	font-weight: normal;
	src: url('../static/fonts/Rubik-Regular.ttf') format('truetype');
}

/* @font-face {
	font-family: Rubik;
	font-weight: normal;
	font-style: italic;
	src: url('../static/fonts/Rubik-Italic.ttf') format('truetype');
} */

@font-face {
	font-family: Rubik;
	font-weight: 500;
	src: url('../static/fonts/Rubik-Medium.ttf') format('truetype');
}

/* @font-face {
	font-family: Rubik;
	font-weight: 500;
	font-style: italic;
	src: url('../static/fonts/Rubik-MediumItalic.ttf') format('truetype');
} */

@font-face {
	font-family: Rubik;
	font-weight: bold;
	src: url('../static/fonts/Rubik-Bold.ttf') format('truetype');
}

/* @font-face {
	font-family: Rubik;
	font-weight: bold;
	font-style: italic;
	src: url('../static/fonts/Rubik-BoldItalic.ttf') format('truetype');
} */

/* @font-face {
	font-family: Rubik;
	font-weight: 700;
	src: url('../static/fonts/Rubik-Black.ttf') format('truetype');
} */

/* @font-face {
	font-family: Rubik;
	font-weight: 700;
	font-style: italic;
	src: url('../static/fonts/Rubik-BlackItalic.ttf') format('truetype');
} */

